.DS_Store
*.swp
*.xcuserstate

.build/
.swiftpm/
DerivedData/
.idea/

/MacSystemMonitor
/MacSystemMonitor.app/
/MacTaskManager
/MacTaskManager.app/
/Mac-TaskManager
/Mac-TaskManager.app/
/Resources/
/assets/generated/
/dist/
